.statusBar {
    background-color: lightgray;
    text-align: center;
    border-radius: 8px;
}

.dataTable {
    padding: 20px 20px;
    height: 360px;
    width: 400px;
    background-color: lightgray;
    color: black;
    border-radius: 8px;
}

#mainLogo {
    max-height: 100%;
    width: 100px;
}